body {
    background-color: black;
    font-family: sans-serif;
}

.navbar {
    top: 0;
    left: 0;
    border-bottom: px solid #ffffff1f;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
}

.nav-items {
    color: white;
    display: flex;
    align-items: center;
}

.nav-items2 {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 116px;
    gap: 10px;
}

.nav-items2 input {
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ffffff26;
    transition: background-color .2s ease;
    font-weight: 400;

}

.nav-items2 button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #0078d4;
    border: none;
    cursor: pointer;
}

.nav-items a {
    padding: 15px;
    color: #9d9d9d;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.nav-items .main-heading {
    font-weight: 500;
    color: white;
    font-size: 24px;
}

.linebelnav{
    font-size: 19px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    font-weight: 300;
  text-decoration: #0078d4;
   color: #9d9d9d;
}
.linebelnav a{
    color: #0078d4;
}

.main-content{
 display: flex;
 justify-content: center;
 color: white;
 margin-top: 50px;   
 gap: 100px;
}
.main-content .linepart p{
font-size: 16px;
color: #9d9d9d;
font-weight: 300px;
margin-bottom: 55px;
}
.main-content .linepart h1{
font-size: 50px;
padding: 0px;
font-weight: 700;
margin: 0px;
}
.main-content .linepart button{
       color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #0078d4;
    border: none;
    cursor: pointer; 
    margin-top: 55px;
}
.main-content a{
    color: #0078d4;
}
.info{
    margin-top: 25px;
color: #9d9d9d;
font-size: 12px;

}
.lastline{
    margin-top: 25px;
    font-size: 12px;
}
